<div class="dropdown">
  <span
    ><strong>{{ dropName }}</strong></span
  ><i class="bi bi-chevron-down"></i>
</div>

<div class="dropdown-content">
  <div class="dropdown-section" *ngFor="let section of sections">
    <h4>{{ section.Name }}</h4>
    <ul>
      <li *ngFor="let SubType of section.SubTypes">
        <i class="bx bx-chevron-right"></i>

        <a (click)="navigateToRoute('search', SubType)" type="button">{{
          SubType.name
        }}</a>
      </li>
    </ul>
  </div>
</div>
