<div class="header">
  <h4 class="Title">Manage Products</h4>
  <div>
    <button class="addProduct" (click)="navigateToRoute('admin/dashboard/typeAndSubtype')">
      +Add Type or Subtype
    </button>
    <button class="addProduct" (click)="navigateToRoute('admin/dashboard/Product')">+Add Product</button>
  </div>
</div>
<div class="container mb-3">
  <div class="row">
    <div class="col-xl-3 col-md-4 col-6" *ngFor="let product of AllProducts">
      <div>
        <div class="icons">
          <i class="bi bi-pen" (click)="editProduct(product.id)"></i>
          <i
            class="bi bi-trash"
            style="color: red"
            (click)="deleteProduct(product.id)"
          ></i>
        </div>
        <app-card-item [product]="product" [admin]="true"></app-card-item>
      </div>
    </div>
  </div>
  <div
    type="button"
    class="load-more"
    *ngIf="AllProducts.length % 12 === 0 && AllProducts.length !== 0"
    (click)="loadMore()"
  >
    Load More
  </div>
</div>
