body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  background: aquamarine;
}

.login-container {
  height: auto;
  width: auto;
  min-height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5faf3;
  padding: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
}

.image {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.image img {
  max-height: 4rem;
}

.input-email {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.input-email label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.input-email input {
  padding: 0.35rem;
  border-radius: 5px;
  border: 1px solid #06837b;
  outline: none;
  font-size: 1rem;
}

.input-password {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.input-password label {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.input-pass {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #06837b;
  outline: none;
  font-size: 1rem;
  display: flex;
  background-color: #fff;
}

.input-pass input {
  border: none;
  flex-grow: 1;
}
.input-pass input:focus {
  outline: none;
}
.input-pass button {
  background-color: #fff;
  border: none;
}

.login-btn {
  margin-top: 1rem;
  background-color: #06837b;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
