/* html, body { height: 100%;} */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.locations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input[type="checkbox"] {
  margin: 0 0.5rem;
  transform: scale(1.5);
}
